@use "../../scss/var";

.button {
  @include var.center-block();
  cursor: pointer;
  padding: var.$padding-elements;
  border: 2px solid;
  border-image-slice: 1;
  @include var.gradient();
  @include var.animScaleHover();
}
