@use "../../scss/var";

.module {
  width: 100vh;
  height: 100vw;
  overflow: hidden;

  @include var.center-block;

  position: absolute;
  z-index: 10;
  .inputModule {
    background-color: white;

    @include var.box-shadow;
    @include var.center-block;

    padding: var.$padding-page;
    border-radius: var.$border-radius-elements;
  }
}
