@use "../../scss/var";

.me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .avatar img{
    @include var.mini-avatars;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .name {
      margin-left: var.$margin-elements;
    }
  }
}