@use "var";

.root {
  @include var.root;
}
.allChats {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.chats {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.block:not(:last-child) {
  margin-bottom: var.$padding-elements;
}
.menu {
  max-width: 40vw;
  height: 100vh;

  @include var.box-shadow;

  padding: 10px;
  display: flex;
  flex-direction: column;
  .me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .avatar img{
      @include var.mini-avatars;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      .name {
        margin-left: var.$margin-elements;
      }
    }
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      display: none;
    }
    input {
      width: 100%;
      height: 100%;
    }
    div {
      width: 100%;
      height: 100%;
      margin-right: var.$margin-elements;
    }
  }
}
