$primary-color: #470f6e;
$secondary-color: #7302fa;
$third-color: #8466a5;
$black: #222629;
$note: #474b4f;
$second-note: #6b6e70;
$error-color: #ff0000;
$main-gradient: linear-gradient(90deg, $primary-color 0%, $secondary-color 50%, $third-color 100%);
$margin-elements: 25px;
$margin-h1: 12vh 0;
$margin-h2: 10vh 0;
$margin-h3: 7vh 0;
$margin-h4: 5vh 0;
$padding-page: 55px;
$padding-elements: 15px;
$font-size-h1: clamp(18px, 4vw + 2rem, 48px);
$font-size-h2: clamp(16px, 3.5vw + 1.5rem, 42px);
$font-size-h3: clamp(14px, 3vw + 1rem, 36px);
$font-size-h4: clamp(12px, 2.5vw + 0.5rem, 24px);
$def-scale-animation: 1.1;
$font-size-small: 12px;
$size-icons: 54px;
$border-radius-elements: 15px;

/* Тень */

$def-x: 3px;
$def-y: 4px;
$def-blur: 50px;
$def-radius: 0;
$transition-items: .3s ease all;
$setting: ease all;
$time-animation: .3s;

@mixin border-radius() {
  border-radius: 30px;
}

@mixin box-shadow($x: $def-x, $y: $def-y, $blur: $def-blur, $radius: $def-radius) {
  box-shadow: $x $y $blur $radius rgb(34 60 80 / 20%);
}

@mixin center-block() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-block() {
  @include center-block;

  padding: $padding-page;

  @include box-shadow;
  @include border-radius;
}

@mixin root() {
  @include center-block;

  width: 100%;
  min-height: 100vh;
}

@mixin avatars() {
  border-radius: $border-radius-elements;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mini-avatars() {
  @include avatars;

  width: $size-icons;
  height: $size-icons;
  object-fit: cover;
}

@mixin gradient() {
  border-image-source: $main-gradient;
  background: $main-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin anim-scale-hover($scale: $def-scale-animation, $time-animation: $time-animation, $setting : $setting) {
  transition: $time-animation $setting;
  &:hover {
    transform: scale($scale);
  }
}

@mixin button-back() {
  @include gradient;

  position: absolute;
  top: $padding-page;
  right: $padding-page;
  transition: $time-animation $setting;
  cursor: pointer;
  &:hover {
    transform: scale($def-scale-animation);
  }
  span {
    font-size: $font-size-h1;
  }
}
