@use "../../scss/var";

.message {
  display: flex;
  justify-content: flex-start;
  padding: 10px 55px;
  transition: var.$transition-items;
  .avatar {
    display: flex;
    align-items: flex-end;
    img {
      @include var.mini-avatars;
    }
  }
  .messages__item {
    padding: var.$padding-elements;
    margin-left: var.$margin-elements;
    border-radius: var.$border-radius-elements var.$border-radius-elements var.$border-radius-elements 0;

    @include var.gradient;

    background-clip: unset;
    -webkit-text-fill-color: white;
    .messages__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: var.$margin-elements;
      .name {
        margin-right: var.$margin-elements;
      }
      .time {
        font-size: var.$font-size-small;
      }
    }
  }
  &.me {
    flex-direction: row-reverse;
    .messages__item {
      border-radius: var.$border-radius-elements var.$border-radius-elements 0 var.$border-radius-elements;
      margin-left: 0;
      margin-right: var.$margin-elements;
    }
  }
}
